*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body .img_header {
  width: 100%;
  margin-bottom: 32px;
}

.bg_header_desktop {
  display: none;
}

.button_location:hover a:first-child {
  background-color: #D5966C;
}
.button_location:hover a:last-child {
  background-color: #151515;
}

.button_home:hover a:first-child {
  background-color: #151515;
}
.button_home:hover a:last-child {
  background-color: #D5966C;
}

.container_principal {
  padding: 0 16px;
}

.header_home {
  margin-bottom: 120px;
}
.header_home .desc_desktop p {
  margin-bottom: 48px;
}
.header_home h1 {
  font-family: "Big Shoulders", sans-serif;
  font-size: 60px;
  font-weight: 900;
  line-height: 55px;
  color: #151515;
  margin-bottom: 32px;
}
.header_home p {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  color: #444444;
  margin-bottom: 32px;
}
.header_home .button_location {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  margin-left: 0;
}
.header_home .button_location img {
  height: 100%;
}
.header_home a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.header_home a:first-child {
  font-family: "Big Shoulders", sans-serif;
  background-color: #151515;
  color: white;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 3.64px;
  padding: 26px 24px;
}
.header_home a:last-child {
  background-color: #D5966C;
  padding: 24px 20px;
}

.main_home {
  margin-bottom: 120px;
}
.main_home .container_gallery .img_turistas_tablet {
  display: none;
}
.main_home .container_gallery h2 {
  font-family: "Big Shoulders", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 60px;
  color: #151515;
  margin-bottom: 21px;
}
.main_home .container_gallery p {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  color: #444444;
  margin-bottom: 32px;
}
.main_home img {
  width: 100%;
}
.main_home .img_turistas_tablet {
  margin-bottom: 16px;
}
.main_home .img_turistas img {
  margin-bottom: 16px;
  height: 100%;
}
.main_home .piso_marron {
  margin-bottom: 25px;
}
.main_home .piso_marron img:last-child {
  display: none;
}
.main_home .img_mesa,
.main_home .img_turistas {
  margin-bottom: 16px;
}
.main_home .img_mesa img:last-child,
.main_home .img_turistas img:last-child {
  display: none;
}

.container_inspired {
  background-color: #151515;
  padding: 48px 24px;
}
.container_inspired h2 {
  font-family: "Big Shoulders", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 45px;
  color: white;
  margin-bottom: 24px;
}
.container_inspired p {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  color: white;
}

.container_footer {
  background-color: #151515;
  padding: 48px 32px;
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.container_footer p {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 300;
  line-height: 26px;
}
.container_footer .rrss_blanco {
  display: flex;
  gap: 20px;
}

.header_location {
  position: relative;
}
.header_location .button_home {
  display: flex;
  position: absolute;
  z-index: 2;
}
.header_location .button_home img {
  height: 100%;
}
.header_location a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.header_location a:first-child {
  background-color: #D5966C;
  padding: 24px 20px;
}
.header_location a:last-child {
  font-family: "Big Shoulders", sans-serif;
  background-color: #151515;
  color: white;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 3.64px;
  padding: 26px 24px;
}

.container_location {
  margin: 0;
  padding: 0;
}

.main_location .img_map_desktop {
  display: none;
}
.main_location .container_img_map {
  position: relative;
  height: 607.19px;
}
.main_location .container_img_map .img_map {
  width: 100%;
}
.main_location .container_img_map .figure_pin {
  position: absolute;
  top: 43%;
  left: 42%;
}
.main_location .container_negro {
  padding: 0 16px;
  background-color: #151515;
}
.main_location .container_negro h1 {
  font-family: "Big Shoulders", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 45px;
  color: white;
  margin-bottom: 48px;
  padding-top: 48px;
}
.main_location .container_negro h2 {
  font-family: "Big Shoulders", sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 32px;
  color: #D5966C;
  margin-bottom: 20px;
}
.main_location .container_negro p {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  color: white;
}
.main_location .container_negro p:nth-of-type(1) {
  margin-bottom: 20px;
}
.main_location .container_negro p:last-child {
  padding-bottom: 56px;
}

.footer_location .container_footer_location {
  background-color: #D5966C;
  padding: 48px 32px;
  display: flex;
  flex-direction: column;
  gap: 38px;
}
.footer_location .container_footer_location p {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  color: #151515;
}
.footer_location .container_footer_location .rrss_negro {
  display: flex;
  gap: 20px;
}

@media (min-width: 768px) {
  body {
    background-image: url(../dist/img/cuadro_abuela_tablet.jpg);
    background-repeat: no-repeat;
    background-size: 437px;
  }
  .img_header {
    display: none;
  }
  .container_principal {
    padding-right: 40px;
    padding-left: 40px;
  }
  .container_principal .piso_marron,
  .container_principal .img_mesa {
    margin: 0;
    padding: 0;
  }
  .container_principal .piso_marron img:nth-of-type(1),
  .container_principal .img_mesa img:nth-of-type(1) {
    display: none;
  }
  .container_principal .piso_marron img:last-child,
  .container_principal .img_mesa img:last-child {
    display: block;
  }
  .container_principal .header_home {
    display: flex;
    flex-direction: column;
    gap: 48px;
    height: 400px;
    width: 340px;
    margin-top: 145px;
    margin-left: 350px;
    margin-bottom: 300px;
  }
  .container_principal .header_home * {
    margin: 0;
  }
  .container_principal .main_home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-auto-rows: 1fr;
    gap: 10px;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
  }
  .container_principal .main_home img {
    height: 100%;
  }
  .container_principal .main_home .img_turistas,
  .container_principal .main_home .img_turistas_movil {
    display: none;
  }
  .container_principal .main_home .container_gallery {
    grid-column: 1;
    grid-row: 1;
    order: -1;
    padding: 36px 50px 65px 0;
  }
  .container_principal .main_home .container_gallery h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 45px;
    margin-bottom: 24px;
  }
  .container_principal .main_home .container_gallery p {
    margin: 0;
    font-size: 17px;
    line-height: 28px;
    font-weight: 300;
  }
  .container_principal .main_home .piso_marron {
    grid-column: 2/span 2;
    grid-row: 1;
  }
  .container_principal .main_home .piso_marron img {
    height: 100%;
  }
  .container_principal .main_home .img_mesa {
    grid-column: 1/span 2;
    grid-row: 2/span 2;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .container_principal .main_home .img_mesa img {
    height: 100%;
  }
  .container_principal .main_home .img_turistas_tablet {
    display: flex;
    grid-column: 3;
    grid-row: 2;
    height: 100%;
  }
  .container_principal .main_home .img_turistas_tablet img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .container_principal .main_home .container_inspired {
    grid-column: 3;
    grid-row: 3;
    height: auto;
    align-self: stretch;
    padding-top: 40%;
  }
  .container_principal .container_footer {
    display: flex;
    align-items: flex-start;
    gap: 100px;
  }
  .container_principal .container_footer p {
    font-size: 16px;
  }
  .main_location .container_img_map {
    height: auto;
  }
  .main_location .container_img_map .figure_pin {
    top: 50%;
    left: 46%;
  }
  .main_location .container_negro {
    padding: 48px;
  }
  .main_location .container_negro h1 {
    font-size: 60px;
    line-height: 60px;
  }
  .main_location .container_negro h2 {
    font-size: 36px;
  }
  .footer_location .container_footer_location,
  .container_footer {
    flex-direction: row;
  }
  .button_home {
    margin: 0 40px;
  }
  .container_footer_location {
    padding: 0 40px;
  }
}
@media (min-width: 1200px) {
  body {
    background-image: none;
  }
  .img_header {
    display: none;
  }
  .container_img_map {
    min-height: 500px;
  }
  .main_location .img_map_desktop {
    display: block;
    width: 100%;
    height: auto;
  }
  .main_location .container_img_map .figure_pin {
    top: 40%;
    left: 47%;
  }
  .main_location .container_negro {
    padding: 104px 165px 128px;
    display: flex;
  }
  .main_location .container_negro .container_negro_title {
    width: 50%;
  }
  .main_location .container_negro .container_negro_title h1 {
    padding-top: 0;
    margin-bottom: 0;
  }
  .main_location .container_negro .container_negro_description {
    width: 50%;
  }
  .main_location .container_negro .container_negro_description p {
    margin-bottom: 0;
    padding: 0;
  }
  .main_location .container_negro .container_negro_description p:nth-of-type(1) {
    margin-bottom: 32px;
  }
  .main_location .container_negro .container_negro_description p:last-child {
    padding-bottom: 0;
  }
  .footer_location .container_footer_location {
    padding: 80px 165px;
    flex-direction: row;
    gap: 140px;
    align-items: flex-start;
  }
  .footer_location .container_footer_location p {
    font-size: 16px;
  }
  .footer_location .container_footer_location .rrss_negro {
    gap: 20px;
  }
  .container_footer {
    padding: 80px 165px;
    gap: 115px;
  }
  .container_footer p {
    font-size: 18px;
  }
  .container_principal .main_home {
    padding: 0 149px 180px;
    gap: 30px;
  }
  .container_principal .main_home .container_gallery {
    padding-top: 100px;
    padding-right: 50px;
    text-align: left;
  }
  .container_principal .main_home .container_gallery h2 {
    font-size: 40px;
  }
  .container_principal .main_home .container_gallery p {
    font-size: 20px;
  }
  .container_principal .main_home .container_gallery br {
    display: none;
  }
  .container_principal .header_home {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: auto;
    height: auto;
    margin: 190px 149px 400px;
  }
  .container_principal .title_desktop h1 {
    color: white;
    width: 510px;
    font-size: 96px;
    line-height: 88px;
    font-weight: 900;
  }
  .container_principal .desc_desktop {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 300px;
  }
  .container_principal .desc_desktop p {
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    line-height: 32px;
  }
  .container_principal .desc_desktop .button_location {
    margin-left: 0;
  }
  .bg_header_desktop {
    display: flex;
    position: absolute;
    width: 80%;
    height: 700px;
    z-index: -1;
  }
  .bg_header_desktop .img_bg_header_desktop {
    width: 400px;
  }
  .bg_header_desktop .img_bg_header_desktop img {
    height: 100%;
  }
  .bg_header_desktop .cuadro_negro {
    width: 400px;
    background-color: #151515;
  }
  .img_bg_header_desktop,
  .cuadro_negro {
    z-index: -1;
  }
}/*# sourceMappingURL=styles.css.map */